<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/script.js"></script>
</head>
<body>
	<select class="form-control" id="dropDownList" onchange="val()">
		<option value="0">select option</option>
		<option th:each="currency : ${currencies}" th:value="${currency.code}" th:text="${currency.description}"></option>

		<input name="submit" type="submit" value="submit" id="submitButton" th:onclick="submitButton()"/>
	</select>

	<img th:src="@{images/initial_image.jpg}" alt="This will display an animated GIF" id="image" class="center"/>
</body>
</html>